/* easy reset */
* { margin: 0; padding: 0; }


.container {
    margin: 0 auto;
    position: relative;
}
.command {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    display: inline;
}
.canvasContainer {
    z-index: 5;
}

.hidden {
    display: none;
}